<div class="container">
<h1>Add new review</h1>

<%= link_to "Back to Restaurant", restaurant_path(@restaurant), class: "btn btn-primary" %>

<h2><%= @restaurant.name %></h2>
<%= render "new_review", restaurant: @restaurant, review: @review %>
</div>
